# ----------------------------
# Node.js
# ----------------------------
node_modules/
**/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# lock files (keep these tracked normally)
# package-lock.json

# Env files
.env
.env.*
!.env.example

# Build output
dist/
build/
.next/
out/

# Logs
logs
*.log

# ----------------------------
# Laravel
# ----------------------------
/vendor
/public/storage
/storage/*.key
/storage/app/public

Homestead.yaml
Homestead.json

.phpunit.result.cache

# Laravel logs
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing

# IDE files
/.idea
/.vscode

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Database
# ----------------------------
*.sql
*.sqlite

# ----------------------------
# Docker
# ----------------------------
/docker-data