# Ignore documents
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.odt
*.pdf
*.csv
*.txt

# Ignore documents (upper case)
*.DOC
*.DOCX
*.PPT
*.PPTX
*.XLS
*.XLSX
*.ODT
*.PDF
*.CSV
*.TXT

# Ignore videos
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.quicktime

# Ignore videos (upper case)
*.MP4
*.MOV
*.AVI
*.MKV
*.WMV
*.QUICKTIME

# Additional video formats
*.flv
*.f4v
*.swf
*.m4v
*.3gp
*.3g2
*.rm
*.rmvb
*.webm
*.vob
*.ogv
*.mts
*.m2ts
*.ts
*.mov
*.mxf
*.mpg
*.mpeg
*.mpe
*.mpv
*.m2v

# Additional video formats (upper case)
*.FLV
*.F4V
*.SWF
*.M4V
*.3GP
*.3G2
*.RM
*.RMVB
*.WEBM
*.VOB
*.OGV
*.MTS
*.M2TS
*.TS
*.MOV
*.MXF
*.MPG
*.MPEG
*.MPE
*.MPV
*.M2V

# Ignore music
*.mp3
*.wav
*.ogg
*.flac

# Ignore music (upper case)
*.MP3
*.WAV
*.OGG
*.FLAC

# Ignore images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.avif
*.heic
*.heif
*.jfif

# Ignore images (upper case)
*.JPG
*.JPEG
*.PNG
*.GIF
*.BMP
*.SVG
*.WEBP
*.AVIF
*.HEIC
*.HEIF
*.JFIF

# Other File Formats
*.sql
*.html
*.css
*.js
*.php

# Other File Formats (upper case)
*.SQL
*.HTML
*.CSS
*.JS
*.PHP

# Ignore compressed files
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.gz
*.bz2
*.rar
*.7z
*.xz
*.tgz

# Ignore compressed files (upper case)
*.ZIP
*.TAR.GZ
*.TAR.BZ2
*.TAR
*.GZ
*.BZ2
*.RAR
*.7Z
*.XZ
*.TGZ

# Ignore Java files
*.java
*.class
*.jar
*.war
*.ear
*.jmod

# Ignore Java files (upper case)
*.JAVA
*.CLASS
*.JAR
*.WAR
*.EAR
*.JMOD

# Ignore .NET files
*.cs
*.vb
*.fs
*.csproj
*.vbproj
*.fsproj
*.sln
*.dll
*.exe
*.pdb
*.nuget
*.nupkg
*.nuspec

# Ignore .NET files (upper case)
*.CS
*.VB
*.FS
*.CSPROJ
*.VBPROJ
*.FSPROJ
*.SLN
*.DLL
*.EXE
*.PDB
*.NUGET
*.NUPKG
*.NUSPEC
